In [1]:
import pandas as pd
import numpy as np
#read data set
data=pd.read_csv('/home/gomaa/Desktop/titanic_data.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#split data into target and train 
column_target=['Survived']
column_train=['Age','Sex','Fare','Pclass']
X=data[column_train]
Y=data[column_target]

In [8]:
#check data is compitable
X['Sex'].isnull().sum()
X['Fare'].isnull().sum()
X['Pclass'].isnull().sum()
X['Age'].isnull().sum()
# remove null value in Age column
X['Age']=X['Age'].fillna(X['Age'].median())
X['Age'].isnull().sum()
#replace male and female with numerical value
d={'male':0,'female':1}
X['Sex']=X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

/home/gomaa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/gomaa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [11]:
#the final data set
X.head()
#splite data set into training and testing 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=42)

In [14]:
#we will use linear support vector machine
from sklearn import svm
clf=svm.LinearSVC()
#training the model
clf.fit(X_train,Y_train)
print (clf)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

/home/gomaa/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
#make the predict 
print (clf.predict(X_test[0:1]))
print (clf.predict(X_test[0:15]))
print (clf.score(X_test,Y_test))

[0]
[0 0 0 1 1 1 1 0 1 1 0 0 0 0 0]
0.772881355932